1.django-3.1.1


// By running makemigrations, you’re telling Django that you’ve made some changes to your models and that you’d like the changes to be stored as a migration
python manage.py makemigrations HRMS

// The sqlmigrate command takes migration names and returns their SQL
python manage.py sqlmigrate HRMS 0001

// Run migrate again to create those model tables in database
python manage.py migrate