

{% extends "bootstrap_ui/bootstrap3-skeleton.html" %}

{% block body-content %}

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="../" class="navbar-brand">D-SHARK</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      
    </div>
  </div>

  ::before

<div class="container text-center">



    <div class="page-header" id="banner">
        <div class="row">
            <h1>Human Resource Management System</h1>
        </div>
      </div>

      <div class="col-lg-3"></div>
      <div class="col-lg-6">

        <div class="well well-lg">
            <form action="" method="post">


                <fieldset>
                    <legend>LOGIN</legend>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id={{form.username}} placeholder="username">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                 

                  <div class="form-group">
                    <div class="col-lg-12">
                      <button type="reset" class="btn btn-default">Cancel</button>
                      <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                  </fieldset>

            </form>

        </div>

      </div>
      <div class="col-lg-3"></div>





</div>
{% endblock %}